{% extends 'base.html.twig' %}

{% block title %}Offres{% endblock %}

{% block body %}
    {% set offerscount = offers|length %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            <h4 class="mt-5">Liste des offres - {{ offerscount }} résultat{% if offerscount > 1 %}s{% endif %}</h4>
        {% for message in app.flashes('error') %}
            <div>
                {{ message }}
            </div>
        {% endfor %}
        {% if offers is not empty %}
        <div class="table-responsive">
            <table class="table table-bordred table-striped">
                <thead>
                    <th>Intitulé</th>
                    <th>Description</th>
                    <th>Lieu</th>
                    <th>Type</th>
                    <th>Entreprise</th>
                </thead>
                {% for offer in offers %}
                    <tr>
                        <td>{{ offer.title }}</td>
                        <td>{{ offer.description }}</td>
                        <td>{{ offer.workplace.label }}</td>
                        <td title="{{ offer.contractTypeTitle }}">{{ offer.contractType }}</td>
                        <td>{% if offer.company.name is not empty %}{{ offer.company.name }}{% else %}Non communiqué{% endif %}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        {% else %}
            <p>Aucune offre disponible</p>
        {% endif %}
            </div>
        </div>
    </div>
{% endblock %}